.darkmode--activated p,
.darkmode--activated #darkSvg {
  color: white;
}
.darkmode--activated #darkNav {
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.1);
}
.darkmode--activated #darkRed {
  color: #f45725;
}

.darkmode--activated #darkCGrey,
.darkmode--activated #darkDes,
.darkmode--activated #darkMonthName {
  color: #afafaf;
}

.darkmode--activated #darkUpCommingRegisterDiv {
  background-color: #1e1e1e;
  color: white;
}

.darkmode--activated #darkLink {
  background-color: #0f0e0e;
  color: white;
}

.darkmode--activated #darkLink:hover {
  background-color: #f45725;
}

/* modal */

.darkmode--activated #darkFormOne,
.darkmode--activated .modal-card {
  background-color: #0f0e0e;
  color: white;
}

.darkmode--activated #darkLabel,
.darkmode--activated #h1Play {
  color: white;
}

.darkmode--activated #darkInp {
  background-color: #1e1e1e;
  color: white;
}

.darkmode--activated #btnN {
  background-color: #1e1e1e;
  color: white;
}

.darkmode--activated #marN {
  background-color: #1e1e1e;
  color: white;
  margin-left: 30px;
}
