#lightConst {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1185px;
    background: #FFFFFF;
}

#imgConst {
    padding-top: 120px;
    height: 845px;
    width: 708px;
}

#darkModeConst {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1185px;
    background: #0F0E0E;
}