.textDiv {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: pink;
    justify-content: center;
    align-items: center;
}

.slide {
    background-color: grey;
    width: 60%;
}

.home {
    background-color: red;
}

.News {
    background-color: blue;
}

.Contact {
    background-color: green;
}

.slick-next:before {
    content: "Next";
    color: black;
    background-color: blue;
}

.slick-slider {
    position: static;
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 90%;
    z-index: 2;
    transform: translate(0, 0%);
}

.slick-next {
    right: 25%;
}

.slick-prev {
    left: 25%;
}

.slick-prev:before {
    content: "Prev";
    background-color: yellow;
    color: black;
}