.flex {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: static;
    width: 180px;
    height: 44px;
    left: 190px;
    top: 0px;
    /* White */
    border-radius: 16px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 30px;
}

.button {
    border: 0px;
    background: white;
    width: auto;
    height: 24px;
    left: 40px;
    top: 10px;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #F45725;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.p {
    position: static;
    width: 200px;
    height: 24px;
    left: 0px;
    top: 0px;
    /* Header/Header 6 */
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    /* Jet Black */
    color: #1E1E1E;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}