.formbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.page {
  display: flex;
  flex-direction: column;
  /* border: 10px solid red; */
  width: 57%;
  padding: 27px 12px;
  margin: 36px 13px;
  box-shadow: 0px 0px 6px 0px;
  height: 845px;
}
.flexcol {
  flex-direction: column;
}
.inputfields {
  margin: 10px 10px;
  padding: 10px 10px;
}
.names {
  padding: 13px 13px;
  margin: 10px 2px;
  margin-right: 100px;
  border-radius: 10px;
  width: 321px;
  border: 1px solid rgb(221, 212, 212);
}
.btn {
  padding: 13px 13px;
  margin: 10px 2px;
  /* margin-left: 437px; */
  width: 100%;
}
.btnnext {
  padding: 13px 13px;
  margin: 10px 2px;
  margin-left: 111px;
  width: 321px;
  border-radius: 12px;
  background: transparent;
  border: 1px solid rgb(221, 212, 212);
}
.btnprev {
  padding: 13px 13px;
  margin: 10px 2px;
  /* margin-left: 437px; */
  width: 321px;
  border-radius: 12px;
  background: transparent;
  border: 1px solid rgb(221, 212, 212);
}
.btnnext1 {
  padding: 13px 13px;
  margin: 10px 2px;
  margin-left: 437px;
  width: 321px;
  border-radius: 12px;
  background: transparent;
  border: 1px solid rgb(221, 212, 212);
}

h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
}
.textheading {
  /* margin-top: 0px; */
  margin-bottom: 1px;
  padding-top: 4px;
  padding-bottom: 6px;
}
.radiobtn {
  padding: 12px 0px;
  margin: 7px 0px;
}
