@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
.RegmDiv {
    background-color: #f8f8f8;
    padding: 31px 54px;
    margin: 11px 65px;
    border-radius: 32px;    
}

.flexDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rightDiv {
    width: 360px;
}

.h1Title {
    font-family: "Rubik", sans-serif;
    font-size: 28px;
}

.des {
    margin-top: 12px;
    font-size: 15px;
    color: #afafaf;
}

.DateDiv {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    text-align: center;
    margin-right: 30px;
}

.monthName {
    color: #afafaf;
}

.hammerImg {
    margin-top: 12px;
}

.regBtn {
    font-family: "Manrope", sans-serif;
    float: right;
    margin-top: 25px;
    border-radius: 16px;
    text-align: center;
    text-decoration: none;
    padding: 10px 67px;
    background-color: #ffffff;
    outline: none;
    border-width: 0px;
    color: #f45725;
    font-weight: 700;
    transition: all 0.3s;
}

.regBtn:hover {
    background-color: #f45725;
    color: white;
}