.fOnemDiv {
  padding: 30px;
}

.errorH1 {
  /* display: block; */
  color: red;
}

.nextBtn {
  position: absolute;
  bottom: 0%;
  right: 5%;
  font-family: "Manrope", sans-serif;
  padding: 10px 107.5px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  background-color: white;
  border-width: 0px;
  color: #f45725;
  float: right;
  margin-bottom: 30px;
}
