.fOnemDiv {
  background-color: #f8f8f8;
  border-radius: 32px;
  padding: 30px;
}

.contDiv {
  height: 80vh;
  overflow-y: scroll;
}

.errorH1 {
  /* display: block; */
  color: red;
}

/* .radioM {
  margin-bottom: 22px;
} */

.nextBtn,
.backBtn,
.btn {
  font-family: "Manrope", sans-serif;
  padding: 10px 107.5px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  background-color: white;
  border-width: 0px;
  color: #f45725;
  float: right;
  margin-bottom: 30px;
}

.nextBtn {
  /* bottom: 0%; */
  position: absolute;
  right: 5%;
}
.backBtn {
  position: absolute;
  left: 5%;
}

.H1p {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #1e1e1e;
  margin-bottom: 20px;
}

.flexDiv {
  display: flex;
  flex-direction: row;
}
